#main{
    header{
        background-image: url("../assets/images/table.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 70vh;
        padding-left: 15%; 
        color:white;
        display:flex;
        flex-direction: column;
        justify-content: center;
    
    }
    img {  
        height:auto;
        object-fit: cover;
        vertical-align: center;
    }

    section{
      padding:80px;
      display:flex;
      flex-direction: column;
      margin: auto;

        button {
            margin:40px 0 0 0;
        }
        h2{
            margin-bottom:20px;
        }
    }
    .vertical{
        display:flex;
        justify-content: center;
        flex-grow: 1;
        align-items: center;
        align-content: left;
        width: 50%;
    }
   
    .horizontal{
        background-color: rgb(252, 252, 252);
        justify-content: center;
        align-items: center;
        h2{
            text-align: center;
        }
        p{
            text-align: center;
        }
        
    }
}


@media (max-width: 767px) {
    //mobile
    img {  
        max-height: 400px;
        width: 100%;

    }
}

@media (min-width: 768px) {
    #main img{
        width: 50%;
    }
}