@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');
.App {
    margin: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    display: block;
}

ul {
    list-style-type: none;
    width: 100%;
}

.product {
    text-align: left;
}

li {
    width: 100%;
}

.checkout {
    max-width: 60%;
    font-family: 'Libre Franklin', sans-serif;
    font-size: small;
    padding: 10px;
    margin:auto;
}

.cart{
    margin-top:20px;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: inline-block;
    padding: 0px;
    color: inherit;
}

input {
    width: 30px;
    text-align: center;
    border: none;
    background-color: Transparent;
    outline: none;
}

.container {
    display: flex;
}

.grid {
    grid-template-columns: 1.5fr 1fr 1fr 1fr 30px;
    display: grid;
    align-items: center;
    justify-content: stretch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity {
    width: 70px;
    height: 25px;
    color: cornflowerblue;
    background-color: white;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
}

.item {
    padding: 10px;
    display: grid;
    justify-items: center;
}

hr {
    border: none;
    height: 0.5px;
    background-color:lightgrey; 
}

.total{
    padding: 10px;
    display: grid;
    justify-content: stretch;
    grid-template-areas: "label . . cost . ";
}



.product {
   justify-self: left;
}

.cost {
    justify-self:right;
    padding-right:10px;
}

.total .cost{
    grid-area: cost;
}

.total .label{
    grid-area: label;
}

.spacer{
    height:0px;
    padding:5px;
    background-color: transparent;
}

.buynow{
    justify-self: right;
    width:75px;
    height:30px;
    background-color:cornflowerblue;
    color:white;
    text-emphasis: bold;
    padding:10px;
    border-radius: 4px;
}