@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.App {
    margin: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    display: block;
}

ul {
    list-style-type: none;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: inline-block;
    padding: 0px;
    color: inherit;
}
.container {
    display: flex;
}

hr {
    border: none;
    height: 0.5px;
    background-color: lightgrey;
    margin: 0px;
}

.spacer {
    height: 0px;
    padding: 5px;
    background-color: transparent;
}

.grid {
    display: grid;
    gap:10px;
    align-items: center;
}